:root{
    --dark-back-c:rgb(11,11,26);/* set up two background color DARK*/
    --light-back-c:rgb(27,27,59);/* set up two background color light*/
    --white-color:rgb(226, 226, 226);/*white color is too bright, so i created a off-white color to help with the visual*/
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

body{
    background-color: var(--light-back-c);
}

.jumbotron{
    
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: var(--dark-back-c);
    border-radius: 0.3rem;
}

.jumbotron-fluid{
    text-align: center;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin-bottom:0;
    
}

.jumbotron-fluid .container{
    background-color: var(--dark-back-c);
    color: var(--white-color);
}

.row{ 
    width: 100%;
    background-color: lightyellow;
    /* border: 5px solid black; */
    border: 0.5px solid blue;/*remove it, just checking the marks */
    margin-bottom: 0px;
    border-radius: 10px;
}

.row div{
    padding:20px;   
}

div input{
    padding: 0px 5px 0px 5px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--light-back-c);
    /*border: 2px solid green; remove it, just checking the marks*/
    text-align:start;
    color:var(--white-color);
;}

div .col-10{ /*take the input that the user will add to the system*/

    margin:0px;
    padding:0px
}

/*-----------------------------------------------------------------------*/

.beforeTime {
    background-color: gray;
    color:black;
}

.onTime {
    background-color: rgb(175, 54, 54);

}

.afterTime {
    background-color: rgb(52, 129, 87);
}